<mat-card class="card">
  <mat-card-header>
    <mat-card-title *ngIf="!edit">{{categoryName}}</mat-card-title>
    <mat-icon *ngIf="!edit" (click)="edit_enable()">edit</mat-icon>
    <input class="card__edit-name-input"
       *ngIf="edit"
       #editInput
       matInput
       autocomplete="off"
       [ngModel]="categoryName"
    >
  </mat-card-header>

  <mat-card-content>
    <p class="spend">
      Spent this month: <br> {{spendThisMonth}}$
    </p>

    <div [@bodyExpansion]="state" class="expandable-content">
      <div *ngFor="let transaction of lastTransactions" (click)="showMoreForTransaction(transaction)" style="cursor: pointer">
        <p *ngIf="transaction.amount !== 0">
          {{transaction.timestamp | date: "mediumDate"}}: {{transaction.amount}}$
        </p>
      </div>

      <section class="card__when-expanded__bottom" (click)="addTransaction = true">
        <mat-icon *ngIf="!addTransaction" class="material-icons-outlined">add</mat-icon>
        <span class="card__when-expanded__see-all" routerLink="/wallet/transactions/{{categoryName}}">See all</span>
      </section>

      <section *ngIf="addTransaction">
        <add-transaction-form [categoryId]="categoryId" (onSubmit)="addTransaction = false"></add-transaction-form>
      </section>
    </div>

    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-actions *ngIf="!edit">
    <button mat-button (click)="toggle()" color="primary">{{state === "collapsed" ? "More" : "Less"}}</button>
    <button mat-button (click)="delete()" color="warn">Delete</button>
  </mat-card-actions>

  <mat-card-actions *ngIf="edit">
    <button mat-button (click)="edit_save()" color="primary">Save</button>
    <button mat-button (click)="edit_disable()" color="warn">Cancel</button>
  </mat-card-actions>
</mat-card>
