@import "src/global_vars";

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  align-content: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      height: 4rem;
      font-size: 18px;
      letter-spacing: 2px;
      padding: 1em;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 2em;
      }

      &:hover {
        cursor: pointer;
        color: $whitesmoke;
      }
    }
  }
}
