@import 'navbar_vars';
@import 'src/global_vars';

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  font-size: 18px;
  height: 3em;
  backface-visibility: hidden;

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background: linear-gradient(to top, #00000000, $global_bg);

    .navbar__part-left {
      margin-left: $navbar_offset;
    }

    .navbar__part-right {
      margin-right: $navbar_offset;
    }

    ul {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        height: 4rem;
        letter-spacing: 2px;
        padding: 1em;
        text-transform: uppercase;

        &:not(:last-child) {
          margin-right: 2em;
        }

        &:hover {
          cursor: pointer;
          color: $whitesmoke;
        }
      }
    }
  }
}
