<header>
  <nav *ngIf="user$ | async; else not_auth_navbar_content">
    <ul class="navbar__part-left">
      <li routerLink="/profile">Profile</li>
      <li routerLink="/wallet">My Wallet</li>
    </ul>
    <ul class="navbar__part-right">
      <li (click)="logOut()" routerLink="/sign-out">Sign Out</li>
    </ul>
  </nav>
  <ng-template #not_auth_navbar_content>
    <nav>
      <ul class="navbar__part-left">
        <li routerLink="/sign-in">Sign In</li>
        <li routerLink="/about">About</li>
      </ul>
    </nav>
  </ng-template>
</header>
