.wallet-page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10rem;
  //border: 2px solid orange;

  .add-category {
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    margin: auto;
    font-size: 20px;
  }

}
