<main class="wallet-page">
  <nav class="sticky-navbar">
    <ul>
      <li (click)="showCards = true; showTransactions = false">My Categories</li>
      <li (click)="showTransactions = true; showCards = false">Transactions</li>
    </ul>
  </nav>
  <div class="wallet-page__content">
    <div class="wallet-page__content__cards">
      <section class="list-of-categories" *ngIf="showCards">
        <cards-container></cards-container>
      </section>
      <section class="list-of-transactions" *ngIf="showTransactions">
        <all-transactions-list></all-transactions-list>
      </section>
    </div>
  </div>
</main>
