<main class="wallet-page">
  <nav class="sticky-navbar">
    <ul>
      <li routerLink="/wallet/categories">My Categories</li>
      <li routerLink="/wallet/transactions/earnings">Earnings</li>
      <li routerLink="/wallet/transactions">Transactions</li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</main>
<!--<main class="wallet-page">-->
<!--  <nav class="sticky-navbar">-->
<!--    <ul>-->
<!--      <li (click)="showCards = true; showTransactions = false">My Categories</li>-->
<!--      <li (click)="showCards = false; showTransactions = false">Earnings</li>-->
<!--      <li (click)="showTransactions = true; showCards = false">Transactions</li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--  <div class="wallet-page__content">-->
<!--    <div class="wallet-page__content__cards">-->
<!--      <section class="list-of-categories" *ngIf="showCards">-->
<!--        <cards-container></cards-container>-->
<!--      </section>-->
<!--      <section class="list-of-transactions" *ngIf="showTransactions">-->
<!--        <all-transactions-page></all-transactions-page>-->
<!--      </section>-->
<!--      <section class="list-of-earnings" *ngIf="!showTransactions && !showCards">-->
<!--        <earnings-page></earnings-page>-->
<!--      </section>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
