.wallet-page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10rem;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__chart {
      position: fixed;
      width: 300px;
      height: 300px;
      border: 1px solid black;
    }

    &__cards {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
    }

    .add-category {
      cursor: pointer;
      width: max-content;
      padding: 1rem;
      display: flex;
      font-size: 20px;
      margin: auto auto 1rem;
      border: 2px solid black;
      border-radius: 11px;

      span {
        font-size: 26px;
      }
    }
  }
}

@import "src/global_vars";

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  align-content: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      height: 4rem;
      font-size: 18px;
      letter-spacing: 2px;
      padding: 1em;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 2em;
      }

      &:hover {
        cursor: pointer;
        color: $whitesmoke;
      }
    }
  }
}

