<div class="form-flex-container">
  <form [formGroup]="signInForm">
    <div class="form__title">
      <p>Sign In</p>
    </div>
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email" required type="email">
      <div *ngIf="email!.invalid && (email!.dirty || email!.touched) && email!.errors?.required"
           class="validation-error__hint">
        Email is required
      </div>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" matInput placeholder="Password" required type="password">
      <div *ngIf="password!.invalid && (password!.dirty || password!.touched) && password!.errors?.required"
           class="validation-error__hint">
        Password is required
      </div>
    </mat-form-field>
    <button (click)="submit()" [disabled]="!signInForm.valid" class="submit" color="primary" mat-button>Submit</button>
    <div class="hint">
      <a routerLink="/account/sign-up">Don't have an account?</a>
    </div>
  </form>
</div>
