<div infiniteScroll
     [infiniteScrollDistance]="3"
     [infiniteScrollThrottle]="1000"
     (scrolled)="onScroll()"
>
  <mat-list>
    <div class="search__container">
      <input class="search__input" type="text" placeholder="Search">
    </div>
    <mat-list-item *ngFor="let transaction of transactions">
      <h3 class="title" matLine> {{transaction.categoryName}} </h3>
      <p matLine class="content">
        <span>({{transaction.timestamp | date: "medium"}}) </span>
        <span>spent {{transaction.amount}}$.  </span>
        <span>"{{transaction.comment}}"</span>
      </p>
    </mat-list-item>
  </mat-list>
</div>

