<script src="transactions-list.component.ts"></script>
<div (scrolled)="onScroll()"
     [infiniteScrollDistance]="3"
     [infiniteScrollThrottle]="1000"
     infiniteScroll
>
  <mat-list>
    <form>
      <div class="search__container">
        <input [formControl]="searchControl" class="search__input"
               placeholder="Search by category name or associated comment..."
               type="text">
      </div>
    </form>
    <mat-list-item *ngFor="let transaction of (transactions$ | async | filter: filter)"
                   [class]="transaction.categoryName !== getInputTransactionName() ? 'spent-bg' : 'earn-bg'">
      <h3 class="title" matLine> {{transaction.categoryName}} </h3>
      <p class="content" matLine>
        <span>({{transaction.timestamp | date: "medium"}}) </span>
        <span>spent {{transaction.amount}}$.  </span>
        <span>"{{transaction.comment}}"</span>
        <mat-icon>{{transaction.categoryName === getInputTransactionName() ? "arrow_back" : "arrow_forward"}}</mat-icon>
      </p>
    </mat-list-item>
  </mat-list>
</div>

