<main>
  <h2 class="greeting center-text">Hi, {{(user$ | async)?.firstName}} {{(user$ | async)?.lastName}}!</h2>
  <h3 class="center-text earned-info">Earned this month: {{earnedMonth$ | async}}$</h3>
  <div class="charts">
    <div class="profile-page-summary__item">
      <h3>Spent this month: {{spentMonth$ | async}}$</h3>
      <wallet-chart [chartTotal$]="totalMonth$"></wallet-chart>
    </div>
    <div class="profile-page-summary__item">
      <h3>Spent this year: {{spentYear$ | async}}$</h3>
      <wallet-chart [chartTotal$]="totalYear$"></wallet-chart>
    </div>
  </div>
</main>
