<main>
  <h2 class="greeting center-text">Hi, {{user!.firstName}} {{user!.lastName}}!</h2>
  <h3 class="center-text earned-info">Earned this month: {{earnedForMonth}}$</h3>
  <div class="charts">
    <div class="profile-page-summary__item">
      <h3>Spent this month: {{reduce(amount_month.value)}}$</h3>
      <wallet-chart [chartLabelsObservable]="names_month.asObservable()"
                    [chartDataObservable]="amount_month.asObservable()"
      >
      </wallet-chart>
    </div>
    <div class="profile-page-summary__item">
      <h3>Spent this year: {{reduce(amount_year.value)}}$</h3>
      <wallet-chart [chartLabelsObservable]="names_year.asObservable()"
                    [chartDataObservable]="amount_year.asObservable()"
      >
    </wallet-chart>
    </div>
  </div>
</main>

