<main>
  <h2 class="greeting center-text">Hi, {{(user$ | async)?.firstName}} {{(user$ | async)?.lastName}}!</h2>
  <h3 class="center-text earned-info">Earned this month: {{earnedForMonth}}$</h3>
  <div class="charts">
    <div class="profile-page-summary__item">
      <h3>Spent this month: {{spent_month}}$</h3>
      <wallet-chart *ngIf="amount_month$.value.length && names_month$.value.length"
                    [chartData$]="amount_month$.asObservable()"
                    [chartLabels$]="names_month$.asObservable()"
      >
      </wallet-chart>
    </div>
    <div class="profile-page-summary__item">
      <h3>Spent this year: {{spent_year}}$</h3>
      <wallet-chart *ngIf="amount_year$.value.length && names_year$.value.length"
                    [chartData$]="amount_year$.asObservable()"
                    [chartLabels$]="names_year$.asObservable()"
      >
      </wallet-chart>
    </div>
  </div>
</main>
