<form>
  <mat-form-field>
    <input [formControl]="timestampControl" [max]="maxDate" [min]="minDate" [ngxMatDatetimePicker]="picker"
           matInput placeholder="Choose a date">
    <mat-datepicker-toggle [for]="$any(picker)" matSuffix></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [disableMinute]="false" [enableMeridian]="true"
                             [hideTime]="false" [showSeconds]="false"
                             [showSpinners]="true" [stepHour]="1"
                             [stepMinute]="1" [touchUi]="false">
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" class="amount-input" matInput min="1"
           placeholder="Amount" required type="number">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" class="comment-input" matInput
           placeholder="Comment"
           required type="text">
  </mat-form-field>
  <button (click)="addTransaction()" class="submit" color="primary" mat-button>Add</button>
</form>
