
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
}

body {
  background-color: #c9e2ff;
}

aside, nav, footer,
header, section {
  display: block;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
