.form-flex-container {
  position: absolute;
  top: 10rem;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

form {
  width: 37rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  mat-form-field {
    margin-bottom: 1.7rem;

    input {
      font-size: 18px;
    }
  }

  .form__title p {
    font-size: 37px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }

  .submit {
    margin-bottom: 1rem;
    font-size: 17px;
    font-weight: bolder;
    color: #676666;
  }

  .validation-error__hint {
    font-size: 13px;
    margin-top: .5rem;
  }
}

.hint {
  text-align: center;

  a {
    font-size: 15px;
    color: rgba(103, 0, 103, 0.51);
    font-weight: bolder;
    letter-spacing: .8px;
  }
}
