.column {
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;
  width: 50%;
  margin: auto;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.nothing-in-history__hint {
  margin: 3rem auto auto !important;
  font-size: 26px;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.chart {
  position: fixed;
}


