@import 'src/app/navbar/navbar_vars';
@import '~@material/fab/fab-theme';

.column {
  display: flex;
  flex-direction: column;
}

.page-container {
  width: 50%;
  margin: auto;

  .add-button {
    position: sticky;
    bottom: 2rem;
    height: 48px;
    float: right;
    margin-right: 2rem;

    button {
      @include accessible(#7a0f7a);
    }
  }

}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;
  width: 100%;
  margin: auto;


  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}


.nothing-in-history__hint {
  margin: 3rem auto auto !important;
  font-size: 26px;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.chart {
  position: fixed;
}

.spinner {
  display: flex;
  margin: 8rem auto auto;
}


